##################################################################################
### VENDOR_EDIT, OPPO All rights reserved.
###
### File: - init.oppo.rc
### Author: jiangyg@PM
###
### ------------------------------- Revision History: ----------------------------
### <author>                        <data>       <version>   <desc>
### ------------------------------------------------------------------------------
### jiangyg@PM                     2013-10-21                Create this file
##################################################################################

on boot
#chenghao@Swdp.shanghai 2018/08/08, add for joystick RUS feature
    mkdir /data/joystick 0700 system system

#Jianrong.Zheng@PSW.AD.Power.Breathing.1055235, 2015/12/14, Add for oppo breath light
    chown system system /sys/class/leds/white/brightness
    chown system system /sys/class/leds/white/device/grpfreq
    chown system system /sys/class/leds/white/device/grppwm
    chown system system /sys/class/leds/white/device/blink
    chown system system /sys/class/leds/white/blink

#shiguang.han@Swdp.shanghai, 2017/5/23 Add for elsa
#Jindian.Guan@Camera, 2018/04/03, Add for led calibration
    mkdir /persist/camera 0777 system system
    chmod 0755 /dev/cpuset
    mkdir /dev/freezer
    mount cgroup none /dev/freezer freezer
    chown system system /dev/freezer
    chmod 0755 /dev/freezer/

    chown system system /dev/freezer/cgroup.procs
    chmod 0666 /dev/freezer/cgroup.procs
    chown system system /dev/freezer/tasks
    chmod 0666 /dev/freezer/tasks

    chown system system /dev/cpuset/cgroup.procs
    chown system system /dev/cpuset/foreground/cgroup.procs
    chown system system /dev/cpuset/foreground/boost/cgroup.procs
    chown system system /dev/cpuset/background/cgroup.procs
    chown system system /dev/cpuset/system-background/cgroup.procs
    chown system system /dev/cpuset/top-app/cgroup.procs

    chmod 0666 /dev/cpuset/foreground/cgroup.procs
    chmod 0666 /dev/cpuset/foreground/boost/cgroup.procs
    chmod 0666 /dev/cpuset/background/cgroup.procs
    chmod 0666 /dev/cpuset/system-background/cgroup.procs
    chmod 0666 /dev/cpuset/top-app/cgroup.procs
    chmod 0666 /dev/cpuset/cgroup.procs

    chown system system /dev/stune/background/cgroup.procs
    chown system system /dev/stune/top-app/cgroup.procs
    chown system system /dev/stune/foreground/cgroup.procs
    chown system system /dev/stune/rt/cgroup.procs
    chmod 0666 /dev/stune/background/cgroup.procs
    chmod 0666 /dev/stune/top-app/cgroup.procs
    chmod 0666 /dev/stune/foregroud/cgroup.procs
    chmod 0666 /dev/stune/rt/cgroup.procs

#yangmingjin@BSP.POWER.Basic 2019/05/24 add for RM_TAG_POWER_RAMDUMP
    chown system system /sys/power/ramdump_by_key

# Gou shengjun@SWDP.MM.Display.LCD, 2018/12/02 Add for display
    chown system system /sys/kernel/oppo_display/hbm
    chown system system /sys/kernel/oppo_display/seed
    chown system system /sys/kernel/oppo_display/cabc
    chown system system /sys/kernel/oppo_display/dimlayer_bl_en
    chown system system /sys/kernel/oppo_display/ffl_set
    chown system system /sys/kernel/oppo_display/dump_info
    chown system system /sys/kernel/oppo_display/esd_status
    chown system system /sys/kernel/oppo_display/power_status
    chown system system /sys/kernel/oppo_display/dimlayer_hbm
    chown system system /sys/kernel/oppo_display/notify_fppress
    chown system system /sys/kernel/oppo_display/force_screenfp
    chown system system /sys/kernel/oppo_display/sau_closebl_node
    chown system system /sys/kernel/oppo_display/panel_serial_number
    chown system system /sys/kernel/oppo_display/audio_ready
    chown system system /sys/kernel/oppo_display/aod_light_mode_set
    chown system system /sys/kernel/oppo_display/serial_number
    chown system system /sys/kernel/oppo_display/hdr10
    chown system system /sys/kernel/hbtp/display_pwr

    chmod 0666 /sys/kernel/oppo_display/hbm
    chmod 0666 /sys/kernel/oppo_display/seed
    chmod 0666 /sys/kernel/oppo_display/cabc
    chmod 0666 /sys/kernel/oppo_display/dimlayer_bl_en
    chmod 0666 /sys/kernel/oppo_display/ffl_set
    chmod 0666 /sys/kernel/oppo_display/dump_info
    chmod 0666 /sys/kernel/oppo_display/esd_status
    chmod 0666 /sys/kernel/oppo_display/power_status
    chmod 0666 /sys/kernel/oppo_display/dimlayer_hbm
    chmod 0666 /sys/kernel/oppo_display/notify_fppress
    chmod 0666 /sys/kernel/oppo_display/force_screenfp
    chmod 0666 /sys/kernel/oppo_display/sau_closebl_node
    chmod 0666 /sys/kernel/oppo_display/panel_serial_number
    chmod 0666 /sys/kernel/oppo_display/audio_ready
    chmod 0666 /sys/kernel/oppo_display/aod_light_mode_set
    chmod 0666 /sys/kernel/oppo_display/serial_number
    chmod 0666 /sys/kernel/oppo_display/hdr10
    
    #/*Anbao.Shao@Camera.Driver 20190220 add for [aiNight]*/
    chmod 0666 /mnt/vendor/persist/camera/megvii/cache

#change ownership and premission for awinic haptic shock with music
    chown system audio /dev/aw8697_haptic
    chmod 0660 /dev/aw8697_haptic
    chown system audio /sys/class/leds/vibrator/haptic_audio
    chmod 0660 /sys/class/leds/vibrator/haptic_audio
    mkdir /data/awinic 0770 system audio
    # enable awinic haptic sync wirh audio algo
    setprop audio.awinic.haptic.support  false

#OTG Config
    chown system system /sys/class/power_supply/usb/otg_switch
    chmod 0666 /sys/class/power_supply/usb/otg_switch

#TouchPanel(Gaming Config)
    chown system system /proc/touchpanel/game_switch_enable
    chown system system /proc/touchpanel/oppo_tp_direction
    chown system system /proc/touchpanel/oppo_tp_limit_enable

    chmod 0666 /proc/touchpanel/game_switch_enable
    chmod 0666 /proc/touchpanel/oppo_tp_direction
    chmod 0666 /proc/touchpanel/oppo_tp_limit_enable

#Misc Dirs
    mkdir /data/misc/keystore 0700 keystore keystore
    mkdir /data/misc/gatekeeper 0700 system system
    mkdir /data/misc/keychain 0771 system system
    mkdir /data/misc/net 0750 root shell
    mkdir /data/misc/radio 0770 system radio
    mkdir /data/misc/sms 0770 system radio
    mkdir /data/misc/carrierid 0770 system radio
    mkdir /data/misc/apns 0770 system radio
    mkdir /data/misc/zoneinfo 0775 system system
    mkdir /data/misc/network_watchlist 0774 system system
    mkdir /data/misc/textclassifier 0771 system system
    mkdir /data/misc/vpn 0770 system vpn

on post-fs
    chmod 660 /sys/class/leds/vibrator/rtp
    chmod 660 /sys/class/leds/vibrator/haptic_audio_tp_time
    chmod 644 /sys/class/leds/vibrator/haptic_osc_data
    chmod 660 /sys/class/leds/vibrator/ram_test
    chmod 644 /sys/class/leds/vibrator/ram_update
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state
    chown system system /sys/class/leds/vibrator/rf_hz
    chown system system /sys/class/leds/vibrator/lra_resistance
    chown system system /sys/class/leds/vibrator/gain
    chown system system /sys/class/leds/vibrator/vmax
    chown system system /sys/class/leds/vibrator/index
    chown system system /sys/class/leds/vibrator/activate_mode
    chown system system /sys/class/leds/vibrator/seq
    chown system audio /sys/class/leds/vibrator/rtp
    chown system audio /sys/class/leds/vibrator/haptic_audio_tp_time
    chown system system /sys/class/leds/vibrator/loop
    chown system system /sys/class/leds/vibrator/ignore_store
    chown system system /sys/class/leds/vibrator/osc_cali
    chown system system /sys/class/leds/vibrator/haptic_osc_data
    chown system system /sys/class/leds/vibrator/ram_test
    chown system system /sys/class/leds/vibrator/ram_update

#Le.Li@SWDP.MM.Audio.SmartPa, 2018/12/08, Add for smartPa calibrate
on post-fs-data
    mkdir /mnt/vendor/persist/media 0775 media media